.wrap{
    margin: 150px 10px 20px 10px;
    display: flex;
    flex-direction: row;
}
.list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    width: 65%;
    margin: 0 40px;
}
.search{
    width: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.more_btn{
    background-color: var(--green_main);
    color: var(--white);
    outline: none;
    border: none;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0 ;
    width: 300px;
}
.more_btn:hover{
    background-color: var(--white);
    color: var(--green_main);
    box-shadow: 1px 1px 4px #6cc65a;
}
.info_ingr{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}
.ingr_img{
    width: 90px;
    height: 80px;
    border-radius: 20px;
    margin: 0 50px;
}
.ingr_name{
    font-weight: 700;
    margin: 0 80px 0 50px;
    width: 100px;
}
.ingr_calo{
    font-weight: 700;
    font-size: large;
    margin: 0 5px 0 30px;
    color: var(--green_main);
}
.deco{
    margin-right: 80px;
}
.pagin{
    margin: 50px;
}
@media (max-width: 768px) {

    .wrap{
      flex-direction: column-reverse;
      margin: 40px 5px 30px 5px;
    }
    .more_btn{
        margin-left: 30px;
        margin-bottom: 50px;
    }
    .search_wrap{
        width: 100%;
    }
    .search{
        margin: 0 20px 0 30px;
    }
    .list{
        gap: 15px;
        width: 80%;
        margin: 0 20px;
    }
    .ingr_img{
        width: 90px;
        height: 80px;
        border-radius: 20px;
        margin: 0 30px;
    }
    .ingr_name{
        font-weight: 700;
        margin: 0 20px 0 20px;
        width: 50px;
    }
    .ingr_calo{
        font-size: medium;
        margin: 0 0px 0 20px;
    }
    .deco{
        margin-right: 10px;
    }
}