.main_pro {
  margin: 150px 80px 50px 80px;
}
.wrap_detail_product {
  margin: 10px 0 50px 70px;
}
.deco1 {
  width: 100px;
}
.flexr {
  display: flex;
  flex-direction: row;
}
.nutri {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.info_ingr {
  font-size: larger;
  font-weight: 700;
  color: var(--green_main);
  margin: 0 40px;
}
.info_ex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 0 20px;
  gap: 15px;
}
.img_deco1 {
  height: 40px;
}
.txt {
  font-weight: 500;
  justify-content: center;
}
.img_deco {
  width: 140px;
  margin: 20px;
}
.time {
  font-size: larger;
  font-weight: 700;
  color: var(--green_main);
}
.Add {
  background-color: #6cc65a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 20px;
  font-size: 18px;
}
.box input {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin: 10px 0 20px;

  resize: none;
}
.box span {
  position: absolute;
  font-size: 1em;
  padding: 12px 0 20px;
  margin: 10px 0 20px;
  left: 100px;
  text-transform: uppercase;
}
.box input:valid ~ span,
.box input:focus ~ span {
  color: #ffffff;
  font-size: 0;
}
@media (max-width: 768px) {
  .main_pro {
    margin: 50px 40px 50px 40px;
  }
  .flexr {
    flex-direction: column;
  }
  .wrap_detail_product {
    margin: 10px 0 50px 30px;
  }
  .info_ingr {
    font-size: medium;
    margin: 0 20px;
  }
  .nutri {
    gap: 10px;
  }
  .img_deco {
    width: 80%;
    margin: 10px;
  }
  .time {
    font-size: medium;
  }
}
