.wrap{
    margin: 150px 30px;
}
.list{
    margin: 40px 0;
}
.card{
    margin-bottom: 20px;
}
.inp_add{
    width: 100%;
}
.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #dddddd;
}
.img_deco1{
    height: 40px;
    margin: 0 10px;
}
.p_name{
    width: 200px;
}

.p_img{
    max-width: 100px;
    margin: 0 50px;
    object-fit: cover;
}
.p_supplier{
    margin: 0 60px;
    width: 100px
}
.p_cost{
    margin: 0 30px;
    width: 100px;
}
.wrap_num{
    margin: 0 30px;
    width: 50px;
}
.num{
    display: flex;
    flex-direction: columns;
    align-items: center;
    gap: 15px;
    margin: 0 80px;
}
.unit{
    color: var(--green_main);
    margin: 0 50px;
    width: 100px
}
.more_info{
    padding: 20px 30px;
}
.select{
    margin: 10px 50px;
    width: 70%;
}
.flex1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.totalcost{
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #dddddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.flex_collum{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: var(--white);
    box-shadow: 1px 1px 4px #6cc65a;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 0 60%;
}
.total_num{
    margin: 0 100px;
}
.total_cost{
    margin: 0 10px;
    color: var(--green_main)
}
.submit_btn{
    background-color: var(--white);
    color: var(--green_main);
    width: auto;
    height: auto;
    padding: 15px 20px;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: larger;
    margin-left: 40px;
}
.submit_btn:hover{
    background-color: var(--green_main);
    color: white;
    box-shadow: 1px 1px 4px #6cc65a;
}

@media (max-width: 768px) {

    .wrap{
        margin: 50px 30px;
    }
    .select{
        margin: 10px 0;
        width: 100%;
    }
    .footer{
        padding: 0 10px 0 10%;
    }
    .p_supplier, .num, .p_cost{
        display: none;
    }
    .p_img{
        max-width: 100px;
        margin: 0px;
        object-fit: cover;
    }

}