.wrap{
    margin: 150px 10px 30px 10px;
    display: flex;
    flex-direction: row;
}
.list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    width: 68%;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.pagin{
    margin: 50px;
}
@media (max-width: 768px) {

    .wrap{
      flex-direction: column-reverse;
      margin: 40px 5px 30px 10px;
    }
    .list_favo{
        margin: 20px 0 20px 30px;
        cursor: pointer;
    }
    .search_wrap{
        width: 100%;
    }
    .search{
        margin: 0 20px 30px 30px;
    }
    .list{
        gap: 15px;
        width: 100%;
        margin-left: 20px;
    }
}